In [3]:
import pandas as pd

blocks = pd.read_json("btc_etl/blocks.json",lines=True)
transactions = pd.read_json("btc_etl/transactions.json",lines=True)

print(blocks.head(3))

                                                hash  size  stripped_size  \
0  000000000019d6689c085ae165831e934ff763ae46a2a6...   285            285
1  00000000839a8e6886ab5951d76f411475428afc90947e...   215            215
2  0000000082b5015589a3fdf2d4baff403e6f0be035a5d9...   215            215

   weight  number  version                                        merkle_root  \
0    1140       0        1  4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc7...
1     860       1        1  0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68be...
2     860       3        1  999e1c837c76a1b7fbb7e57baf87b309960f5ffefbf2a9...

            timestamp     nonce      bits  \
0 2009-01-03 18:15:05  7c2bac1d  1d00ffff
1 2009-01-09 02:54:25  9962e301  1d00ffff
2 2009-01-09 03:02:53  6dede005  1d00ffff

                                      coinbase_param  transaction_count
0  04ffff001d0104455468652054696d65732030332f4a61...                  1
1                                     04ffff001d0104                  1
2                                     04ffff001d010e                  1

In [4]:
transactions = pd.read_json("btc_etl/transactions.json",lines=True)
print(transactions.head(3))

                                                hash  size  virtual_size  \
0  4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc7...   204           204
1  0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68be...   134           134
2  999e1c837c76a1b7fbb7e57baf87b309960f5ffefbf2a9...   134           134

   version  lock_time  block_number  \
0        1          0             0
1        1          0             1
2        1          0             3

                                          block_hash  block_timestamp  \
0  000000000019d6689c085ae165831e934ff763ae46a2a6...       1231006505
1  00000000839a8e6886ab5951d76f411475428afc90947e...       1231469665
2  0000000082b5015589a3fdf2d4baff403e6f0be035a5d9...       1231470173

   is_coinbase  index inputs  \
0         True      0     []
1         True      0     []
2         True      0     []

                                             outputs  input_count  \
0  [{'index': 0, 'script_asm': '04678afdb0fe55482...            0
1  [{'index': 0, 'script_asm': '0496b538e853519c7...            0
2  [{'index': 0, 'script_asm': '0494b9d3e76c5b162...            0

   output_count  input_value  output_value  fee
0             1            0    5000000000    0
1             1            0    5000000000    0
2             1            0    5000000000    0

In [5]:
transactions.head()

,hash,size,virtual_size,version,lock_time,block_number,block_hash,block_timestamp,is_coinbase,index,inputs,outputs,input_count,output_count,input_value,output_value,fee
0,4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc7...,204,204,1,0,0,000000000019d6689c085ae165831e934ff763ae46a2a6...,1231006505,True,0,[],"[{'index': 0, 'script_asm': '04678afdb0fe55482...",0,1,0,5000000000,0
1,0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68be...,134,134,1,0,1,00000000839a8e6886ab5951d76f411475428afc90947e...,1231469665,True,0,[],"[{'index': 0, 'script_asm': '0496b538e853519c7...",0,1,0,5000000000,0
2,999e1c837c76a1b7fbb7e57baf87b309960f5ffefbf2a9...,134,134,1,0,3,0000000082b5015589a3fdf2d4baff403e6f0be035a5d9...,1231470173,True,0,[],"[{'index': 0, 'script_asm': '0494b9d3e76c5b162...",0,1,0,5000000000,0
3,9b0fc92260312ce44e74ef369f5c66bbb85848f2eddd5a...,134,134,1,0,2,000000006a625f06636b8bb6ac7b960a8d03705d1ace08...,1231469744,True,0,[],"[{'index': 0, 'script_asm': '047211a824f55b505...",0,1,0,5000000000,0
4,df2b060fa2e5e9c8ed5eaf6a45c13753ec8c63282b2688...,134,134,1,0,4,000000004ebadb55ee9096c9a2f8880e09da59c0d68b1c...,1231470988,True,0,[],"[{'index': 0, 'script_asm': '04184f32b212815c6...",0,1,0,5000000000,0

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Load JSON data into pandas DataFrames
blocks_df = pd.read_json('blocks.json', lines=True)
transactions_df = pd.read_json('transactions.json', lines=True)

# Extract transaction inputs and outputs
transaction_inputs = []
transaction_outputs = []

for _, row in transactions_df.iterrows():
    for input_item in row['inputs']:
        transaction_inputs.append({
            "tx_hash": row['hash'],
            "input_index": input_item.get('index'),
            "prev_tx_hash": input_item.get('prev_tx_hash'),
            "prev_output_index": input_item.get('prev_output_index'),
            "script_asm": input_item.get('script_asm'),
            "script_hex": input_item.get('script_hex'),
            "sequence": input_item.get('sequence'),
        })
    for output_item in row['outputs']:
        transaction_outputs.append({
            "tx_hash": row['hash'],
            "output_index": output_item.get('index'),
            "value": output_item.get('value'),
            "script_asm": output_item.get('script_asm'),
            "script_hex": output_item.get('script_hex'),
        })

inputs_df = pd.DataFrame(transaction_inputs)
outputs_df = pd.DataFrame(transaction_outputs)

# Define PostgreSQL connection parameters
DATABASE_URL = "postgresql://username:password@localhost:5432/bitcoin_db"

# Create SQLAlchemy engine
engine = create_engine(DATABASE_URL)


# Load data into the database
def load_data():
    blocks_df.to_sql('Block', engine, if_exists='replace', index=False)
    transactions_df.drop(['inputs', 'outputs'], axis=1).to_sql('Transaction', engine, if_exists='replace', index=False)
    inputs_df.to_sql('TransactionInput', engine, if_exists='replace', index=False)
    outputs_df.to_sql('TransactionOutput', engine, if_exists='replace', index=False)

    # Extract unique block references
    block_references = transactions_df[['block_hash', 'block_timestamp']].drop_duplicates()
    block_references.to_sql('BlockReference', engine, if_exists='replace', index=False)

    print("Data loaded successfully.")
def execute_query(query, params=None):
    with engine.connect() as conn:
        result = pd.read_sql(query, conn, params=params)
    return result

# 8 Unique SQL Queries
queries = {
    "1. Total Transactions Per Block": """
        SELECT block_hash, COUNT(*) AS transaction_count
        FROM Transactions
        GROUP BY block_hash
        ORDER BY transaction_count DESC
        LIMIT 10;
    """,
    "2. Top 10 Blocks by Total Transaction Value": """
        SELECT Block.block_hash, SUM(TransactionOutput.value) AS total_value
        FROM Transactions
        JOIN Block ON Transactions.block_hash = Block.block_hash
        JOIN TransactionOutput ON Transactions.tx_hash = TransactionOutput.tx_hash
        GROUP BY Block.block_hash
        ORDER BY total_value DESC
        LIMIT 10;
    """,
    "3. Largest Transactions by Output Value": """
        SELECT tx_hash, MAX(value) AS largest_output
        FROM TransactionOutput
        GROUP BY tx_hash
        ORDER BY largest_output DESC
        LIMIT 10;
    """,
    "4. Average Transaction Fee Per Block": """
        SELECT block_hash, AVG(tx_fee) AS avg_fee
        FROM Transactions
        GROUP BY block_hash
        ORDER BY avg_fee DESC
        LIMIT 10;
    """,
    "5. Daily Transaction Volume": """
        SELECT block_timestamp::date AS date, SUM(tx_output_value) AS total_volume
        FROM Transactions
        JOIN Block ON Transactions.block_hash = Block.block_hash
        GROUP BY date
        ORDER BY date;
    """,
    "6. Blocks with the Highest Transaction Count": """
        SELECT block_hash, block_transaction_count
        FROM Block
        ORDER BY block_transaction_count DESC
        LIMIT 10;
    """,
    "7. Transactions with Highest Fees": """
        SELECT tx_hash, tx_fee
        FROM Transactions
        ORDER BY tx_fee DESC
        LIMIT 10;
    """,
    "8. Transactions Without Inputs": """
        SELECT tx_hash, tx_input_count
        FROM Transactions
        WHERE tx_input_count = 0
        LIMIT 10;
    """
}


# Main execution
if __name__ == "__main__":

    # load_data()

    # Execute and Display Results for Each Query
    for description, query in queries.items():
        print(f"\n{description}")
        try:
            result = execute_query(query)
            print(result)
        except Exception as e:
            print(f"Error executing query: {e}")